:root {
  --color-background-page: #888;
  --color-background-content: #555;
  --color-background-title: #333;
  --color-text: #999;
  --color-accent: #ffa500;
  --height-content-area: 40rem;
  --transition-effect: 0.7s;
  --button-angle-of-rotation: 315deg;
  --button-transition-effect: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --font-size-title: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  color: var(--color-text);
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--color-background-page);
}

.page-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 10rem;
}

.accordion:hover .accordion__button {
  transform: translateX(0rem);
  transition: var(--button-transition-effect);
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__main-title {
  color: var(--color-background-title);
  font-size: var(--font-size-title);
  margin: 0 auto;
  padding: 1rem 0;
}

.accordion__item {
  background-color: var(--color-background-content);
}

.accordion__item:not(:last-child) {
  margin-bottom: 0.6rem;
  margin-bottom: calc(var(--font-size-title)/6);
}

.accordion__input {
  display: none;
}

.accordion__input:checked~.accordion__label .accordion__content {
  max-height: var(--height-content-area);
  transition: var(--transition-effect);
}

.accordion__input:checked~.accordion__label .wrapper-title {
  color: var(--color-accent);
}

.accordion__input:checked~.accordion__label .accordion__button {
  transform: rotate(var(--button-angle-of-rotation));
  transition: var(--transition-effect);
}

.accordion__input:checked~.accordion__label .accordion__button .accordion__button-elem-1 {
  background-color: var(--color-accent);
}

.accordion__input:checked~.accordion__label .accordion__button .accordion__button-elem-2 {
  background-color: var(--color-accent);
}

.accordion__label {
  display: block;
  background-color: var(--color-background-title);
  font-size: 3rem;
  cursor: pointer;
}

.accordion__label:hover .accordion__button {
  transform: rotate(var(--button-angle-of-rotation));
  transition: var(--button-transition-effect);
}

.accordion__label:hover .wrapper-title {
  color: var(--color-accent);
  transition: var(--transition-effect);
}

.accordion__label:hover .accordion__button .accordion__button-elem-1 {
  background-color: var(--color-accent);
  transition: var(--transition-effect);
}

.accordion__label:hover .accordion__button .accordion__button-elem-2 {
  background-color: var(--color-accent);
  transition: var(--transition-effect);
}

.wrapper-title {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--font-size-title);
  height: var(--font-size-title);
}

.wrapper-title:hover~.accordion__content {
  max-height: var(--height-content-area);
  transition: var(--transition-effect);
}

.accordion__title {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-title);
}

/* ///////////// */

.accordion__button {
  transform: translateX(calc(var(--font-size-title)*3));
  transition: var(--button-transition-effect);
  position: relative;
  width: var(--font-size-title);
  height: var(--font-size-title);
}

.accordion__button-elem-1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--color-text);
  width: 100%;
  height: 20%;
}

.accordion__button-elem-2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-text);
  width: 20%;
  height: 100%;
}

/* ///////////// */

.accordion__content {
  max-height: 0;
  overflow: hidden;
  background-color: var(--color-background-content);
  transition: var(--transition-effect);
}

.accordion__content:hover {
  max-height: var(--height-content-area);
  transition: var(--transition-effect);
}

.accordion__image {
  width: auto;
  height: var(--height-content-area);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
